[alias]
    gl  = log -10 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
    gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

    st = status
    ci = commit
    cia = commit -a --amend --no-edit

    co = checkout
    br = branch

    unstage = reset HEAD --
    last = log -1 HEAD

    undo = reset --soft HEAD^
    meld = !~/lib/git-meld/git-meld.pl

[color]
    ui = auto

[user]
    name = Enrique Fernandez
    email = efernandez@clearpathrobotics.com

[diff]
    tool = meld
    guitool = meld

[difftool]
    prompt = false

[core]
    excludesfile = ~/.gitignore_global
    editor = vim

[credential]
    helper = cache --timeout=300

[push]
    default = current
