[alias]
    gl  = log -10 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
    gll = log     --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'

    st = status
    ci = commit
    cia = commit --amend --no-edit

    co = checkout
    br = branch

    unstage = reset HEAD --
    last = log -1 HEAD

    undo = reset --soft HEAD^
    meld = !~/lib/git-meld/git-meld.pl

    up = !git remote update -p; git merge --f-only @{u}

    di = diff -b

[color]
    ui = auto

[user]
    name = Enrique Fernandez
    email = efernandez@clearpath.ai

[diff]
    tool = meld
    guitool = meld

[difftool]
    prompt = false

[core]
    excludesfile = ~/.gitignore_global
    editor = vim

[credential]
    helper = cache --timeout=300

[push]
    default = current

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true

[http]
    cookiefile = /home/efernandez/.gitcookies
